/* ----------------------------------------------------------------

	Contact.scss

-----------------------------------------------------------------*/
.contact-info {
	p, a {
		font-family: $heading-font;
	}

	a {
		font-weight: 500;
		text-decoration: none;
	}

	p {
		font-size: 1.25rem;
		font-weight: 400;
	}
}

#contact-sidebar {
	input, textarea {
		background-color: #fdfcfd;
	}

	label {
		font-family: $heading-font;
		font-size: 0.815rem;
	}

	button {
		font-size: 0.75rem;
		padding: 1.35rem 3rem;
	}

	p, a {
		color: #bfbfbf;
	}
}