
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for footer. Thanks!
-----------------------------------------------------------------*/

#footer {
	background-color: #272727;
}

#footer-top {
	padding: 4rem 0 2rem;
    border-bottom: 1px solid #3d3d3d;
}

#footer-main {
	padding-top: 3rem;
	padding-bottom: 3rem;
	border-bottom: 1px solid #3d3d3d;
}

#footer-bottom {
	padding: 2rem 0;

	p {
		color: #707070;
		font-weight: 400;	
		line-height: 2;
		z-index: 1;	
		font-size: 0.875rem;
	}
}