
/*-----------------------------------------------------------------------------------

	Form: form.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Form Styles
-----------------------------------------------------------------*/

// Textarea
#contact-sidebar {
	input, textarea {
		background-color: #fdfcfd;
	}

	label {
		font-family: $heading-font;
		font-size: 0.815rem;
	}

	p, a {
		color: #bfbfbf;
	}
}